<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }} (RSS 2.0)" href="{{ site.url }}/rss.xml" />
  <link rel="alternate" type="application/atom+xml" title="{{ site.title | escape }} (Atom 1.0)" href="{{ site.url }}/atom.xml" />
  <link rel="stylesheet" href="{{ page.root }}/css/reset.css" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/threecol.css" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/main.css" type="text/css" />
  <link rel="stylesheet" href="{{ page.root }}/css/syntax.css" type="text/css" />
  {% if page.url == "/index.html" %}
  <link rel="canonical" href="http://alangrow.com/" />
  <meta http-equiv="refresh" content="1; URL=http://alangrow.com/" />
  {% else %}
  <link rel="canonical" href="http://alangrow.com/blog/{{ page.url | split:"/" | last | split:"." | first }}" />
  <meta http-equiv="refresh" content="1; URL=http://alangrow.com/blog/{{ page.url | split:"/" | last | split:"." | first }}" />
  {% endif %}
  <title>{{ page.title | escape }}</title>
  {% include google-analytics.html %}
</head>
<body class="">

