      <img src="{{ page.root }}/images/maelstrom.png" />

      <blockquote>"After a little while I became possessed with the keenest curiosity about the whirl itself. I positively felt a <b>wish</b> to explore its depths, even at the sacrifice I was going to make; and my principal grief was that I should never be able to tell my old companions on shore about the mysteries I should see."</blockquote>

      <p class="caption">Illustration for Edgar Allan Poe's story "Descent into the Maelstrom" by Harry Clarke, published in 1919.</p>

