{% include begin.html %}
{% include header.html %}

<div class="colmask threecol">
  <div class="colmid">
    <div class="colleft">

      <div class="col1">
        <div class="post">
          <h2>{{ page.title | escape }}</h2>
          <div class="content">
          {{ content }}
          </div>
          <em>Posted by <a href="mailto:{{ site.author.email | escape }}">{{ site.author.name | escape }}</a> on {{ page.date | date: "%A, %B %d, %Y" }}.</em> <a href="#comments">(Discuss)</a>
          <br/>
          <a name="comments"></a>
          <br/>
          {{ include disqus.html }}
        </div>
      </div> <!-- .col1 -->

      <div class="col2">
      {% include leftcol.html %}
      </div>  <!-- .col2 -->

      <div class="col3">
      {% include rightcol.html %}
      </div> <!-- .col3 -->

    </div> <!-- colleft -->
  </div> <!-- colmid -->
</div> <!-- colmask -->

{% include footer.html %}
{% include end.html %}
